/* 
general 
-------
*/
body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
  font-family: 'Poppins' !important;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #fff !important;
}

.mainLayout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}

/*
header
--------
*/

.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  
}

/*
ant menu
*/

/*anchor*/
.mobileHidden .ant-anchor-wrapper {
  background: none;
}

.mobileHidden .ant-anchor {
  display: flex;

}

.mobileHidden .ant-anchor-ink {
  display: none;
}

.mobileHidden .ant-anchor-link {
  padding: 0 20px !important;
  line-height: 1.4;
  position: relative;
  text-align: center;
}

.mobileHidden .ant-anchor-link:before,
.mobileHidden .ant-anchor-link:after {
  content: '';
  background: #1890ff;
  width: 1px;
  
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  
  opacity: 0;
  transition: all 0.3s linear;
}

.mobileHidden .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.mobileHidden .ant-anchor-link.ant-anchor-link-active:before,
.mobileHidden .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.mobileHidden .ant-anchor-link.ant-anchor-link-active:after,
.mobileHidden .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}


.ant-menu {
  background: none !important;
  border: none !important;
}

.ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
}

.ant-menu li.ant-menu-item:before,
.ant-menu li.ant-menu-item:after {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;

  content: '';
  width: 1px;
  background: #1890ff;

  opacity: 0;
  transition: all 0.3s linear;

}

.ant-menu li.ant-menu-item:after {
  left: auto;
  right: 30%;
}

.ant-menu li.ant-menu-item-selected {
  border: none !important;
}

.ant-menu li.ant-menu-item-selected:before {
  left: 5%;
  opacity: 1;
}

.ant-menu li.ant-menu-item-selected:after {
  right: 5%;
  opacity: 1;
}

.ant-menu li.ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
}

.ant-menu li.ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
}



/*
carousel
*/
.ant-carousel, .ant-carousel div {
  height: 100%;
}

.ant-carousel .slick-dots li button {
  background: #000 !important;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #1890ff !important;
}

/*
block 
*/
.block {
  padding: 60px 0;
  border-bottom: 1px solid #d9d9d9;;
}

/*
list
*/
.ant-card-head-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;

}
.ant-row > div:nth-child(2) .ant-list-item {
  transform: scale(1.1);
  box-shadow: 0 0 12px 2px #f3f3f3;
  z-index: 1;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
}

.mobileVisible {
  display: none;
}

.mobileVisible button {
  margin: 0 30px 0 0;
}

.mobileHidden {
  display: block;
}

@media only screen and (max-width: 767px) {
  .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}